<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MIDIS Admin</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" href="/static/monitor/assets/img/logo.png" type="image/x-icon">

  <!-- STYLES -->
  <link rel="stylesheet" href="/static/monitor/dist/main.min.css"/>

  <!-- SCRIPTS -->
  <script src="/static/monitor/dist/main.min.js"></script>
</head>
<body>
<div id="page-wrapper" v-class="open: toggle" v-cloak>
  <app-sidebar sidebar="{{sidebar}}" toggle="{{@ toggle}}" modules="{{modules}}"></app-sidebar>
  <div id="content-wrapper">
    <div class="page-content">
      <!-- Header Bar -->
      <app-header header="{{header}}" product-cfg="{{productCfg}}">
      </app-header>
      <!-- Main Content -->
      <router-view product-cfg="{{productCfg}}">
      </router-view>
    </div>
  </div>
</div>
<script src="/static/monitor/dist/build.js"></script>
<script src="/static/fem/ua/ua.js"></script>
<script>

  var parser = new UAParser();
  console.log(parser.getResult());

</script>
</body>
</html>